* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header h1,
section h2,
section h3,
form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

body, 
input, 
textarea {
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 16px 8;
    background-color: rgb(8, 34, 56);
    color: rgb(255, 255, 255);
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: rgb(255, 255, 255);
    }

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 25px;
}

.brands-list li {
    display: inline;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
}

section h2 {
    color: rgb(8, 34, 56);
    margin-bottom: 16px;
}

section {
    color: rgb(8, 34, 56);
}

section p {
    margin-bottom: 8px;
}

.Storefront{
    margin-right: 32px;
}

.social-links img {
    height: 23px ;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.contact-mathods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px ;
    margin-bottom: 8px ;
    padding: 8px ;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
background-color: rgb(8, 34, 56);
color: white;
border: none;
cursor: pointer;
}

form button:hover {
    background-color: rgb(25, 63, 97);
}

footer {
    background-color: rgb(8, 34, 56);
    color: white;
    padding: 16px;
}